@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");



@tailwind base;
@tailwind components;
@tailwind utilities;

*,
::before,
::after {
  font-family: "Poppins", sans-serif, Arial, Helvetica;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

[aria-current="true"] {
  background-color: #b5e1ff;

}

#audio-slider {
  -webkit-appearance: none;
  min-width: 83%;
  height: 10px;
  background: #e8e8e8;
  outline: none;
  opacity: 0.7;
  border-radius: 5px;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

#audio-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background-color: #88cfff;
  border-radius: 50%;
  cursor: pointer;
}

#audio-slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
background-color: #b5e1ff;
  cursor: pointer;
}


#volume-slider {
  -webkit-appearance: none;
  min-width: 40%;
  height: 10px;
  background: #e8e8e8;
  outline: none;
  opacity: 0.7;
  border-radius: 5px;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

#volume-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background-color: #88cfff;
  border-radius: 50%;
  cursor: pointer;
}



